*{
   padding: 0px;
   margin:  0px;
   border:  0px;
}

.zeraMargem{
   padding: 0px;
   margin:  0px;
   border:  0px;
}

#fundo{
	width: 682px;
	height: 226px;
	border: solid 1px black;
}

/*DIV cabeçalho*/
#frente{
	width: 340px;
	height: 225px;
	border: solid 1px black;
	float: left;
}

#cabecalho{
	width: 339px;
	height: 50px;
}

#logo{
	width: 60px;
	height: 50px;
	float: left;
}

#img{
	width: 89px;
	height: 50px;
}

#dados_igreja{
	margin-top: 2px;
	text-align: center;
	font-size: 8px;
	font-weight: bold;
}

/*Div informações*/
#informacoes{
	width: 220px;
	height: 140px;
	margin-top: 10px;
	float: left;
	
}

#titulo{
	margin-left: 22px;
	text-align: center;
	margin-bottom: 16px;
}

#nome{
	width: 215px;
	height: 15px;
	margin-left: 5px;
	margin-bottom: 5px;
	border: solid 0.5px; 
	border-radius: 3px;
	font-size: 8px;
	padding-top: 5px;
	padding-left: 5px;
	font-size:10px;
	font-weight: bold;
}

#cargo{
	width: 215px;
	height: 15px;
	margin-left: 5px;
	margin-bottom: 2px;
	border: solid 0.5px; 
	border-radius: 3px;
	font-size: 8px;
	padding-top: 5px;
	padding-left: 5px;
	font-size:10px;
	font-weight: bold;
}


/*DIV foto*/
#imagem{
	width: 100px;
	height: 100px;
	margin-right: 5px; 
	margin-top: 7.5px;
	border: solid 1px;
	float: right;
}

#foto{
	width: 100px;
	height: 100px;
	object-fit: cover;
	object-position: top;
}


/*DIV rodapé*/
#rodape{
	margin-bottom: 5px;
	width: 339px;
	height: 20px;
	font-size: 10px;
	font-weight: bold;
	font-family: 'times new roman';
	text-align: center;
	clear: both;
}

/*///////VERSO///////*/
#verso{
	width: 340px;
	height: 225px;
	float: right;
	border-top: solid 1px black;
	border-bottom: solid 1px black;
}

#dados{
	width: 270px;
	height: 75px;
	margin-left: 35px;
	margin-top: 10px;
	font-weight: bold;
}
	

#rg{
	width: 110px;
	height: 15px;
	border: solid 0.5px; 
	border-radius: 3px;
	font-size: 8px;
	padding-top: 5px;
	padding-left: 5px;
	float: left;
	font-size:10px;

}

#cpf{
	width: 110px;
	height: 15px;
	border: solid 0.5px; 
	border-radius: 3px;
	font-size: 8px;
	padding-top: 5px;
	padding-left: 5px;
	float: right;
	font-size:10px;
}

#emissao{
	width: 110px;
	height: 15px;
	margin-top: 20px;
	border: solid 0.5px; 
	border-radius: 3px;
	font-size: 8px;
	padding-top: 5px;
	padding-left: 5px;
	float: left;
	font-size:10px;
}

#nasc{
	width: 110px;
	height: 15px;
	margin-top: 20px;
	border: solid 0.5px; 
	border-radius: 3px;
	font-size: 8px;
	padding-top: 5px;
	padding-left: 5px;
	float: right;
	font-size:10px;	
}

/*Anos*/
#anos{
	width: 320px;
	height: 75px;
	margin-left: 13px;
}

.validade{
	width: 75px;
	height: 30px;
	border: solid 0.5px;
	border-radius: 10px;
	display: inline-block;
}

ul{
	list-style: none;

}

li{
	display: inline-block;
	margin-left: 22px;
}

.space{
	margin-left: 44px;
}

#linha{
	margin-top: 30px;
	border: solid 0.5px;
}

#assinatura{
	width: 270px;
	height: 60px;
	margin-left: 35px;
	font-size: 10px;
	text-align: center;
}

#divisao{
	margin-top: 35px;
}